
<div class="home__container">
   <app-card 
      gameCover="assets/bt-1.jpg"
      gameLabel="exclusive"
      gameType="Disc"
      console="PS3"
      price="250,45"
   >
   </app-card>

   <app-card 
      gameCover="assets/bt-4.jpg"
      gameLabel="exclusive"
      gameType="Digital"
      console="PS4"
      price="120,45"
   >
   </app-card>

   <app-card 
      gameCover="assets/bt-5.jpg"
      gameLabel="exclusive"
      gameType="Digital"
      console="PS4"
      price="434,45"
   >
   </app-card>

   <app-card 
      gameCover="assets/bt-bad-company-2.jpg"
      gameLabel="exclusive"
      gameType="Disc"
      console="PS5"
      price="342,45"
   >
   </app-card>
</div>
